.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 9em 8em 0 8em;
}
.header {
  align-self: flex-start;
}

.contentContainer {
  margin: 6rem 0 0 0;
  display: flex;
  /* width: 80%; */
  justify-content: center;
  align-items: flex-start;
}

.gradient-border {
  padding: 1px;
  border-radius: 12px;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  margin: 0 22px;
  /* width: 30%; */
}

.content {
  padding: 22px;
  background-color: rgb(42, 57, 57);
  border-radius: 12px;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.icon {
  width: 20px;
  height: 20px;
}

.component-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
